<div class="row ">
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let movie of miMovies">
        <div class="card">
            <img [src]="movie.Poster" class="card-img-top" alt="Sin imagenes" height="400px">
            <div class="card-body">
                <h5 class="card-title"><strong>{{movie.Title}}</strong></h5>
            </div>
            <div class="card-footer">
                <a [routerLink]="['DetailsComponent', movie.imdbID]" routerLinkActive="router-link-active"
                    class="btn btn-primary">Ver mas</a>
            </div>
        </div>
    </div>
</div>