<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
       
        <app-navbar></app-navbar>
        <!-- /.navbar -->

        <!--   aside -->
        <app-aside></app-aside>
        <!--   /aside -->

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content my-3">
                <router-outlet></router-outlet>
            </section>
            <!-- /.content -->
        </div>

        <!-- footer -->
        <app-footer></app-footer>
        <!-- /footer -->

        <!-- Control Sidebar -->
        <app-left-aside></app-left-aside>
        <!-- /.control-sidebar -->
    </div>


</body>